@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
    background-color: rgb(27, 27, 27);
}
* {
    margin: 0;
    padding: 0;
}
nav {
    font-family: 'Oleo Script Swash Caps', cursive;
}
nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    background-color: rgb(33, 0, 59);
    color: aquamarine;
    cursor: context-menu;
}
nav ul li {
    padding: 0 12px;
}
.brand img {
    width: 100px;
    padding: 0 12px;
}
.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 10.3rem;
}
.container {
    min-height: 60vh;
    background-color: purple;
    color: whitesmoke;
    font-family: 'Oleo Script Swash Caps', cursive;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 20px;
    padding: 34px;
    background-image: url('music.jpg');
    background-size: 100%;
}
.bottom {
    position: sticky;
    bottom: 0px;
    height: 80px;
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons {
    margin-top: 5px;
}
.icons i {
    cursor: pointer;
}
#myProgressBar {
    width: 80vw;
    cursor: pointer;
}
.songItemContainer {
    padding-top: 12px;
}
.songItem {
    height: 31px;
    display: flex;
    background-color: rgba(255, 99, 71, 0.568);
    margin: 5px;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}
.songItem img {
    width: 32px;
    margin: 0 12px;
    border-radius: 60px;
    cursor: none;
}
.timestamp {
    margin: 0 23px;
}
.songList {
    width: 50%;
}
.timestamp i {
    cursor: pointer;
}
.songInfo {
    position: absolute;
    display: flex;
    left: 12vw;
    font-family: 'Oleo Script Swash Caps', cursive;
}
.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
/* @media only screen and (max-width: 1100px) {
    body {
        background-color: yellow;
    }
} */
#masterSongName {
    display: flex;
    margin-left: 15px;
}
.songList h1 {
    font-family: 'Rubik Iso', cursive;
}
.songName {
    font-family: 'Pacifico', cursive;
}